.scrollbar-transparent {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollbar-transparent::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-transparent::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.scrollbar-transparent::-webkit-scrollbar-track {
    background: transparent;
}

.share-section {
    background-color: #7a8180;
    opacity: 0.85;
}

.edit-mode {
    border: 2px dashed #6db3e1;
    background-color: rgba(255, 255, 255, 0.1);
}